NODE_ID=CHANGE_ME
MYSQL_ROOT_PASSWORD=CHANGE_ME
MYSQL_DATABASE=pompilius
MYSQL_USER=pompilius
MYSQL_PASSWORD=CHANGE_ME

BASE_URL=CHANGE_ME
USE_SSL=false

SECRET_KEY=CHANGE_ME

JDBC_DATABASE_URL=CHANGE_ME
JDBC_DATABASE_USERNAME=CHANGE_ME
JDBC_DATABASE_PASSWORD="CHANGE_ME"

RESET_PASSWORD_URL=CHANGE_ME
PURCHASE_RESOURCE_URL=CHANGE_ME

STRIPE_SECRET_KEY=CHANGE_ME
STRIPE_PUBLISHABLE_KEY=CHANGE_ME
STRIPE_WEBHOOK_SECRET=CHANGE_ME

MAIL_TOKEN_SECRET_KEY=CHANGE_ME
USERNAME_MAIL=CHANGE_ME
MAIL_PASSWORD=CHANGE_ME

PAYMENT_COMPLETED_URL=CHANGE_ME
PAYMENT_CANCELED_URL=CHANGE_ME

BACKEND_URL=CHANGE_ME
API_URL=CHANGE_ME