NODE_ID=NUMERO_NODO
MYSQL_ROOT_PASSWORD=CHANGE_ME
MYSQL_DATABASE=pompilius
MYSQL_USER=pompilius
MYSQL_PASSWORD=CHANGE_ME

BASE_URL=http://localhost:9000
USE_SSL=false

SECRET_KEY="dtw<Hs:0e1Z1ux0c7qju9rw>JFsl4M:xNMRqHFmr1mkF;>pzq^bAgd76H9AiNuJA"

JDBC_DATABASE_URL="jdbc:mysql://mysql:3306/pompilius?useUnicode=true&useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true"
JDBC_DATABASE_USERNAME="pompilius"
JDBC_DATABASE_PASSWORD="CHANGE_ME"

RESET_PASSWORD_URL=http://localhost/pages/auth/reset-password.html
PURCHASE_RESOURCE_URL=http://localhost/pages/resources/biblioteca.html

STRIPE_SECRET_KEY="CHANGE_ME"
STRIPE_PUBLISHABLE_KEY="CHANGE_ME"
STRIPE_WEBHOOK_SECRET="CHANGE_ME"

MAIL_TOKEN_SECRET_KEY="CHANGE_ME"
MAIL_USERNAME="CHANGE_ME"
MAIL_PASSWORD="CHANGE_ME"

PAYMENT_COMPLETED_URL=http://localhost/pages/transactions/payment-success.html?sellerId=$${sellerId}&resourceId=$${resourceId}
PAYMENT_CANCELED_URL=http://localhost/pages/transactions/payment-cancel.html?sellerId=$${sellerId}&resourceId=$${resourceId}

BACKEND_URL=http://localhost:9000
API_URL=http://localhost:9000/api